__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.git/
.gitignore
venv/
env/
ENV/
.env
.env.*
!*.example
.pytest_cache/
.vscode/
.idea/
instance/*.db
instance/*.sqlite3
uploads/*
!uploads/.gitkeep
